#container{
    display: grid; 
    grid-template-columns: 10% 20% auto 20% 20%;
    grid-template-rows: 50px 500px auto; 
}

#app{
    border: 1px solid black; 
    grid-column: 3; 
    grid-row: 2 ;
}
fieldset{
    border: none; 
}
